body{
  background-color: #f5f5f8;
  margin: 0;
}

.header{
  width: 100%;
  margin: 0;
  height: 64px;
  /* ↓キターーー!!!↓ */
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background-color: #ffff;
}

.week{
  font-size: small;
}

.header_div1{
  display: flex;
  align-items: center;
}

.posselogo{
  width: 150px;
  height: 30px;
  margin: 17px 30px;
}

.nthweek {
  font-size: small;
  font-weight: normal;
  color:red;
}

/* モーダル部分 */
#open{
  float: right;
  width: 150px;
  height: 30px;
  margin: 18px 30px;
  background: linear-gradient(to right, #2272bc 0%, #54cef9 100%);
  border-radius: 100vh;
  box-shadow: 10px 10px;
  border: 10px;
  color: #ffff;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  font-size: small;
  font-weight: normal;
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#modal {
  background: #fff;
  width: 900px;
  padding: 20px;
  border-radius: 20px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#modal p {
  line-height: 1.5;
  margin: 0 0 20px;
}

#mask.hidden {
  display: none;
}

#modal.hidden {
  transform: translate(0, -1500px);
}

/* カレンダー */
#calendar {
  font-size: 10px;
  font-weight: normal;
  display: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}

td:first-child {
  color: red;
}

td:last-child {
  color: royalblue;
}

/* ローディング画面 */
#success {
  background: #fff;
  width: 900px;
  padding: 20px;
  border-radius: 20px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#success.hidden{
  display: none;
}

.successpng{
  width: 100%;
  height: 100%;
}

/* 左右二分割 */
.container{
  /* box-sizing: border-box; */
  /* max-width: 1200px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

/* .items, .bargraph, .languages, .contents{
  box-sizing: border-box;
  width: 100%;
} */

.left, .right{
  margin: 10px;
}

.left{
  display: flex;
  flex-direction: column;
}

/* 勉強時間入力場所三分割 */

p{
  margin-top: 5px;
  margin-bottom: 5px;
}

.whentitle{
  font-size: small;
  color: #1754ef;
}

.number{
  color: rgb(179, 1, 90);
}

.hour{
  font-size: small;
  color: #2272bc;
}

.items{
  display: inline-block;
  justify-content: space-around;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.studytimeoftoday, .studytimeofmonth, .studytimeoftotal{
  list-style: none;
  padding: 0.5em 1em;
  margin: 20px 10px;
  font-weight: bold;
  background: #FFF;
  border: solid 3px #ffff; /*線*/
  border-radius: 10px; /*角の丸み*/
  text-align: center;
}

/* 棒グラフ */
.container_bargraph{
  margin: 0;
  height: 100%;
  background-color: #ffff;
  border-radius: 10px;
}
#bargraph{
  height: 100%;
  width: 100%;
  margin: 10px;
}

/* 右側 */
.right{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h2{
  font-size: 100%;
}
.languages, .contents{
  list-style: none;
  padding: 20px;
  margin-left: 0px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #FFF;
  border: solid 3px #ffff; /*線*/
  border-radius: 10px; /*角の丸み*/
  text-align: left;
  align-self: stretch;
}

.circlegraph{
  width: 100%;
  height: auto;
}

footer{
  height: 64px;
}

.footer{
  text-align: center;
  font-size: x-small;
  padding-top: 5px;
}

/* 凡例 */
.languages1, .languages2, .languages3, .languages4, .languages5, .languages6, .languages7, .languages8, .contents1, .contents2, .contents3{
  list-style-type: none;
  display: inline;
  margin: 2px;
  padding: 0;
  background: white;
  width: 300px;
  font-size: small;
}

/*リストの各要素に前要素として■を付ける*/
.languages1::before, .languages2::before, .languages3::before, .languages4::before, .languages5::before, .languages6::before, .languages7::before, .languages8::before, .contents1::before, .contents2::before, .contents3::before{
  content: "";
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right: 5px;
}

/*リストの各要素の前要素のデザインを設定*/
li.languages1:before {
  background: #1754ef;
  border-radius:70%;
}
li.languages2:before {
  background: #2171bd;
  border-radius:70%;
}
li.languages3:before {
  background: #4dbdde;
  border-radius:70%;
}
li.languages4:before {
  background: #54cef9;
  border-radius:70%;
}
li.languages5:before {
  background: #b29ef3;
  border-radius:70%;
}
li.languages6:before {
  background: #6d46ec;
  border-radius:70%;
}
li.languages7:before {
  background: #4f45ef;
  border-radius:70%;
}
li.languages8:before {
  background: #3636c1;
  border-radius:70%;
}
li.contents1:before {
  background: #1754ef;
  border-radius:70%;
}
li.contents2:before {
  background: #2171bd;
  border-radius:70%;
}
li.contents3:before {
  background: #4dbdde;
  border-radius:70%;
}

ul{
  padding-top: 16px;
  padding-left: 0;
  margin: 0;
}

h2 .modalcontainer{
  font-weight: normal;
  font-size: 90%;
  font-weight: bold;
  margin: 5px;
}

p .modalcontainer{
  margin-top: 0;
  margin-bottom: 20px;
}

/* クローズボタン */
.dli-close {
  float: right;
  margin: 10px;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  width: 1em;
  height: 0.1em;
  background: currentColor;
  border-radius: 0.1em;
  position: relative;
  transform: rotate(45deg);
  cursor: pointer;
}

.dli-close::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}

.modalcontainer{
  font-size: small;
  font-weight: normal;
}

form{
  margin-top: 20px;
  margin-bottom: 20px;
}

.modalcontainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 64px;
}

.modalleft{
  margin-left: 56px;
  margin-right: 20px;
}

.modalright{
  margin-left: 20px;
  margin-right: 56px;
}

/* 入力欄 */
#date, #time, #comment{
  background-color: #f5f4f9;
  border: none;
  border-radius: 0.5em;
  width: 100%;
}

#date, #time{
  padding: 0.5em;
  box-sizing: border-box;
  margin: 0.5em auto;
  line-height: 1.5;
}

#comment{
  padding: 0.5em;
  box-sizing: border-box;
  margin: 0.5em auto;
  line-height: 12;
}

/* ラジオボタン */
input[type="checkbox"]{
  margin-left: 10px;
  margin-bottom: 20px;
}

/* 記録・投稿ボタン */
.buttonposition{
  text-align: center;
}

.button{
  text-align: center;
  align-items: center;
  font-size: large;
  width: 500px;
  height: 50px;
  margin: 18px 30px;
  background: linear-gradient(to right, #2272bc 0%, #54cef9 100%);
  border-radius: 100vh;
  box-shadow: 10px 10px;
  border: 10px;
  color: #ffff;
  cursor: pointer;
}
